.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #232323;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  &__content {
    &-price {
      display: flex;
      justify-content: flex-start;
      align-items: end;
      gap: 5px;
      margin: 0 0 5px 0;
      &__new {
        font-size: 20px;
        color: #f67373;
      }
      &__old {
        text-decoration: line-through;
        font-size: 14px;
        color: #cccccca1;
      }
      &__discount {
        font-size: 16px;
        color: #f67373;
      }
    }
    &-info {
      &__title {
        font-size: 16px;
        color: #ccc;
        margin: 0 0 5px 0;
      }
      &__description {
        font-size: 14px;
        color: #ccc;
      }
    }
  }
  &__img {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
