.header {
  position: relative;
  padding: 20px 0;
  background-color: #333;
  margin: 0 0 50px 0;
  border-bottom: 2px solid #f67373;
  transition: all 0.3s ease;

  &-fixed {
    position: sticky; // Измените на sticky
    top: 0; // Прилепить к верхней части окна
    padding: 20px 0;
    background-color: #333;
    margin: 0 0 50px 0;
    border-bottom: 2px solid #f67373;
    z-index: 1000; // Убедитесь, что шапка выше других элементов
    transition: background-color 0.3s ease, padding 0.3s ease, all 0.3s ease;
    padding: 10px 0;
  }

  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    &:hover {
      svg {
        transition: all 0.3s ease;
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
    h1 {
      color: #f67373;
      font-size: clamp(1rem, 0.75rem + 1.25vw, 1.875rem);
    }

    svg {
      transition: all 0.3s ease;
    }
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    &-burger {
      display: none;
    }
    &__item {
      &-link {
        color: #b35353;
        font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        &:hover {
          color: #f67373;
          transition: all 0.3s ease;
        }
        &-active {
          color: #f67373;
          font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
          font-weight: 400;
          cursor: pointer;
          transition: all 0.3s ease;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }
      }
    }
  }
  &-cart__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    // width: 50px;
    padding: 5px 10px;
    border-radius: 30px;

    background-color: #b35353;
    transition: all 0.3s ease;
    &:hover {
      background-color: #f67373;
    }
    &-count {
      font-size: 20px;
      background-color: #fff;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &-logo {
      gap: 5px;
    }
    &-cart__btn {
      padding: 5px 5px;
    }
  }
}
@media (max-width: 850px) {
  .header {
    &-logo {
      svg {
        display: none;
      }
    }
    &-menu {
      gap: 8px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    &-logo {
      svg {
        display: none;
      }
    }
    &-menu {
      display: none;
      &-burger {
        display: block;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #b35353;
        border-radius: 3px;
        width: 30px;
        height: 30px;
        transition: all 0.3s ease;
        &-active {
          width: 30px;
          height: 30px;
          border-radius: 3px;
          background-color: #b35353;
          transition: all 0.3s ease;
          transform: rotate(90deg);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    &-cart__btn {
      font-size: 16px;
      svg {
        width: 25px;
      }
      &-count {
        font-size: 16px;
        width: 25px;
        height: 25px;
      }
    }
  }
}

.left-header-menu {
  position: absolute;
  top: 0;
  left: -200px;
  min-height: 100vh;
  width: 200px;
  background-color: #333;
  z-index: 1000;
  padding: 20px;
  border-right: 2px solid #f67373;
  transition: all 0.3s ease;
  &-active {
    transition: all 0.3s ease;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 200px;
    background-color: #333;
    z-index: 1000;
    padding: 20px;
    border-right: 2px solid #f67373;
  }
  &__link {
    color: #b35353;
    transition: all 0.3s ease;
    &:hover {
      color: #f67373;
    }
    &-active {
      color: #f67373;
    }
  }
}
